beautifulsoup4
boto3
botocore
chromadb
langchain
langchain-core
langchain-openai
langchain-text-splitters
marker-pdf
pillow
psycopg2
pydantic
pydantic-settings
python-dotenv
requests

# feedparser
# qdrant-client